---
import HeroWrapper from "~/components/HeroWrapper.astro";
import heroBgImg from "~/assets/images/about/hero-bg.jpg";
---

<HeroWrapper class="gradient" {heroBgImg}>
	<div class="py-20 lg-py-32">
		<h1 class="text-5xl md-text-7xl lg-text-8xl">About</h1>
	</div>
</HeroWrapper>

<style>
	.gradient::after {
		background: rgb(0, 0, 0);
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(16, 16, 17, 0.8) 60%,
			rgba(16, 16, 17, 1) 100%
		);
	}
</style>
