---
import img from "~/assets/images/about/history-img.jpg";
---

<section class="relative">
	<div class="max-w-7xl mx-a">
		{/* LEFT */}
		<div class="px-5 py-10 md-w-lg lg-(w-2xl py-16) xl-w-3xl">
			<h1 class="text-(3xl primary) mb-2 lg-(text-5xl mb-5)">
				History of Brew Time
			</h1>

			<div class="font-inter not-last-[&_p]-(mb lg-mb-8) lg-text-lg">
				<p>
					Brew Time is a coffee shop that has been a fixture in its local
					community for over 30 years. The shop was founded in 1991 by a
					passionate coffee lover named John, who wanted to create a space where
					people could come together and enjoy high-quality coffee in a
					welcoming environment.
				</p>

				<p>
					In the early days, Brew Time was a small, cozy shop with just a few
					tables and chairs. But over time, it grew in popularity, and John
					expanded the space to accommodate more customers. He also began to
					roast his own coffee beans, which quickly gained a reputation for
					their exceptional quality.
				</p>

				<p>
					As the years went by, Brew Time became more than just a coffee shop—it
					became a gathering place for the community. Regulars would come in
					every day to catch up with friends, work on their laptops, or just
					enjoy a quiet moment with a delicious cup of coffee.
				</p>

				<p>
					In 2016, John decided to retire and pass on the business to his son,
					Mark. Mark shared his father's passion for coffee and was determined
					to keep Brew Time's legacy alive. He updated the shop's interior,
					added new menu items, and began to host events like live music and
					poetry readings.
				</p>

				<p>
					Today, Brew Time continues to be a beloved destination for coffee
					lovers in the area. It's a place where people can come together,
					connect with others, and enjoy a great cup of coffee. And while the
					shop has evolved over the years, it has never lost sight of the values
					that John instilled in it from the very beginning: quality, community,
					and a love for great coffee.
				</p>
			</div>
		</div>
	</div>

	{/* RIGHT */}
	<div class="h-400px md-(h-full abs top-0 right-0 w-35%)">
		<img class="square-full object-(cover center)" src={img} alt="History" />
	</div>
</section>
