---
import heroTransImg from "~/assets/images/landing/hero-trans-img.png";
import beans from "~/assets/images/beans.png";
---

<section class="relative z-1 fw-medium px-5 overflow-x-hidden md-px-8">
  <div
    class="relative z-1 max-w-7xl mx-a pb-20 text-lg sm-text-xl lg-(flex-s-between pb-40) xl-text-3xl"
  >
    <p class="max-w-43ch lg-max-w-40ch">
      Whether you're looking for a classic espresso or a specialty latte, we
      have something for every coffee lover at Brew Time.
    </p>

    <div class="flex-s-center my-6 lg-my-0">
      {/* IMAGE WRAPPER */}
      <div class="h-180px">
        <img class="h-full" src={heroTransImg} alt="" />
      </div>
    </div>

    <p class="max-w-43ch text-end ml-a lg-(ml-0 max-w-42ch)">
      Our carefully selected beans are roasted to perfection, ensuring a rich
      and full-bodied flavor in every sip.
    </p>
  </div>

  <!-- IMAGES -->
  <div class="abs top-0 left-0 square-full z-0 hidden lg-flex">
    <div class="h-360px abs top-30% left--4%">
      <img class="h-full" src={beans} alt="" />
    </div>
    <div class="h-380px abs top-30% right--6% rotate--75">
      <img class="h-full" src={beans} alt="" />
    </div>
  </div>
</section>
