---
import heroTransImg from "~/assets/images/hero-trans-img.png";
---

<section class="fw-medium px-5 md-px-8">
  <div
    class="max-w-7xl mx-a pb-20 text-lg sm-text-xl lg-(flex-s-between pb-40) xl-text-3xl"
  >
    <p class="max-w-43ch lg-max-w-40ch">
      Whether you're looking for a classic espresso or a specialty latte, we
      have something for every coffee lover at Brew Time.
    </p>

    <div class="flex-s-center my-6 lg-my-0">
      <!-- IMAGE WRAPPER -->
      <div class="h-180px">
        <img class="h-full" src={heroTransImg} alt="" />
      </div>
    </div>

    <p class="max-w-43ch text-end ml-a lg-(ml-0 max-w-42ch)">
      Our carefully selected beans are roasted to perfection, ensuring a rich
      and full-bodied flavor in every sip.
    </p>
  </div>
</section>
