---
import map from "~/assets/images/map.jpg";

const info = [
  { title: "Address", content: "6170 Clemens River, Kuvalismouth" },
  { title: "Email", content: "hanieltobi@gmail.com", primary: true },
  { title: "Phone number", content: "+982-500-5722", primary: true },
];
---

<section
  class="bg-(cover no-repeat center) px-5 lg-bg-right"
  style={`background-image: url(${map})`}
>
  <div class="pt-55 pb-5">
    <div class="bg-dark p-5 font-inter flex flex-col gap-5 br-xl max-w-sm mx-a">
      {
        info.map(({ title, content, primary }) => (
          <div>
            <h3 class="text-white">{title}</h3>
            <p
              class:list={[
                "text-sm",
                primary ? "text-primary" : "text-#DBD3CA",
              ]}
            >
              {content}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
