---
import partners from "~/assets/images/partners.png";
import partnersSm from "~/assets/images/partners-sm.png";
---

<section class="b-y-(1 #4A4A4A)">
  <div class="py-6 max-w-92rem mx-a lg-py-16">
    <picture>
      <source media="(min-width: 640px)" srcset={partners} />
      <img class="w-full" src={partnersSm} alt="" />
    </picture>
  </div>
</section>
