<div class="flex-s-center w-70% font-(medium inter)">
  <!-- INPUT WRAPPER -->
  <div class="relative flex-1 overflow-hidden br-l-lg">
    <!-- SEARCH ICON -->
    <div class="abs top-0 left-0 h-full px-2 flex-s-center">
      <div class="i-carbon-search"></div>
    </div>

    <input
      class="pl-10 py-3 w-full bg-#1E1E1E6B outline-none placeholder-text-white"
      type="text"
      placeholder="Search Something here..."
    />
  </div>

  <button class="bg-primary px py-3 br-r-lg">Search</button>
</div>
