---
export interface Props {
  heroBgImg: string;
  class: string;
}

const { heroBgImg, class: className } = Astro.props;
---

<section
  class:list={[
    "bg-(cover center) text-center relative z-1",
    "after:(content-empty abs top-0 left-0 square-full z--1)",
    className,
  ]}
  style={`background-image: url(${heroBgImg});`}
>
  <div class="py-36 lg-py-50">
    <slot />
  </div>
</section>
