<div class="abs top-0 translate-y--50% left-0 w-full">
  <h1
    class:list={[
      "text-3xl relative w-max mx-a md-text-4xl lg-text-5xl",
      "before:(content-empty abs top-50% translate-y--1/2)",
      "before:(right-105% w-50px h-2px bg-#fff z-0 md-w-80px)",

      "after:(content-empty abs top-50% translate-y--1/2)",
      "after:(left-105% w-50px h-2px bg-#fff z-0 md-w-80px)",
    ]}
  >
    <slot />
  </h1>
</div>
